<header>
    <div class="header_title">
        <a href="/">
            <h2>hero<span>Timer</span></h2>
        </a>
    </div>
    <div class="header_inf">
        <div class="header_display_ponts">
            <div>0</div>
            <div class="header_ponts">
                <div class="ponts" style="width: 0%;"></div>
            </div>
            <div>1000xp</div>
        </div>
    </div>
</header>